
/*  This is the Body content Styling */  
    body {margin: 0;
/*
    background-color: white;
    background-size: 100px;
-webkit-text-size-adjust:none;
  text-align: center;
  color:black;
*/
        background-image: url('IMG_9997-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
       background-size:cover;
        user-select: none;
        
        
        
}
        
        
/*
    overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #111;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;    
        
*/
        
        
        
        
        
        

/*

[type=radio]{
    display: none;
}


#slider{
    height: 35vw;
    position: relative;
    perspective: 600px;
    transform-style: preserve-3d;
}

#slider label{
    margin: auto;
    width: 85%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.7s ease;
}
#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3{ 
box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{ 
box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5{ 
box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
transform: translate3d(0,0,200%);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1{ 
box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2{ 
box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
transform: translate3d(30%,0,-200px);
}



.carousel{
    height: 800px;
    perspective: 6000px;
    
}

.carousel .carousel-item{
    width: 600px;
    
}

.carousel .carousel-item img
{
    width: 100%;
}
*/     
/*  This is the Nav Styling */
.Alexbrush{
    font-family:'Alex Brush';
    font-size: 50px
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:;
    z-index: 4;}
ul.topnav li {float: left; }
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none; 
    }
ul.topnav li a:hover:not(.active) {background-color: black; color: white;}
ul.topnav li a.active {
    background-color: black ; color: white;}
ul.topnav li.right {
    float: right;}
ul.imagez li active {
    height: 800px;}
/* img a.active {
    height: 800px;}
img{opacity: 0.9;
    filter: alpha(opacity=30); 
}

.off{opacity: 0.3;
    filter: alpha(opacity=30);
    width: 200px;
    height: 200px;   
}
img{opacity: 0.9;
filter: alpha(opacity=30); }
img:hover{
opacity: 1;
filter: alpha(opacity=100);
} */
/*
.fader{
    opacity: 1;
    filter: alpha(opacity=100);  
}
*/
.on{
    opacity: 1;
    filter: alpha(opacity=100);
    width: 220px;
    height: 220px;   
}
@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {
        float: none;}
                } 
/* These are the class definitions    */
   
.center{
    margin: auto;
    width: 60%;
    border-style: double;         border-width: 5px;
    padding:10px;
    align-content: center;
    display: inline-block;
    
}
#first-section{ 
                color:Black;
                color:white;
                background-color: transparent;
                width:100%;
                text-align: center;
                align-content: center;
                align-self: center;
                box-sizing: border-box;
                display:block;
    height: 1300px;
    
                
                border-radius: 0%;
                position:relative;
               
                
                top: 50px;
                margin-top: 20px;
                
               float: left;
                z-index: 4;
                } 
    #resize{
                color:Black;
                background-color:transparent;
                box-sizing: border-box;
                width:100%;
                height:66.67 vh;
                background-size: cover;
                overflow: hidden;
                text-align: center;
                align-content: center;
                padding-top: 80px;
                float: left;            
    }
    #section{ 
                color:white;
                background-color: transparent;
                border-style: double;         border-width: 10px;
                text-align: center;
                align-content: center;
                align-self: center;
                box-sizing: border-box;
                display:inline-block;
                width:80%;
                border-radius: 0%;
                position:relative;
                margin-left: auto;
                
                top: 50px;
                margin-top: 20px;
                padding: 60px;
              
                z-index: 4;
                }     
    #Last-section{ 
                color:black;
                background-color: white;
                text-align: center;
                align-content: center;
                box-sizing: border-box;
                width:100%;
                height:auto;
        margin-top: 30px;
                border-radius: 0%;
                position:relative;
/*                top: 100px;*/
/*
                margin-top: 200px;
                padding-bottom: 10px;
*/              position: relative;
        top: auto;
                float: left;
                z-index: 4;
                }
.onn{
    opacity: 1;
    filter: alpha(opacity=100);
    width: 320px;
    height: 220px;
}
.offf{opacity: 0.3;
    filter: alpha(opacity=30);
    width: 200px;
    height: 200px;   
}
.container{
    width: 570px;
    height: 500px;
   position: relative;
    margin: 40px auto 1000px;
    padding: 15px;
    border: 10px solid orange;
/*    perspective:900px;*/
}
#car{
    width: 100%;
    height: 100%;
/*    border: 10px solid;*/
    padding: 10px
    position:absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform .5s;

}


#carousel {
	position: relative;
	width: 600px;
	height: 300px;
	/*border: 1px solid #000000;*/
	margin: auto;
}
#carousel .item {
	position: absolute;
	width: 100px;
	height: 200px;
	background: RGBA(255,255,255,0.5) url("../../images/moon.png");
	background-size: cover;
	background-position: -50px 0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border: 1px solid #000000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#carousel .item-label {
	background: #336699;
	color: #FFFFFF;
}


#carousel .btn {
	position: absolute;
	z-index: 400;
	width: 100px;
	font-family: Arial;
	background: #CC9900;
	font-size: 16px;
	border: 1px solid #000000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	cursor: pointer;
	padding: 5px 5px;
}

#carousel .btn:Hover {
	background: #FFCC00;
}


#carousel .btn-previous {
	left: 5px;
	bottom: 5px;
}

#carousel .btn-next {
	right: 5px;
	bottom: 5px;
}





/*
#car div{
    display: block;
    position: absolute;
    height: 300px; 
    width: 400px;
    padding: 2px;
    left: 32%;
    top: 30%;
*/
/*    border: 5px solid hotpink;*/
/*
    font-weight: normal;
    color: black;
    text-align: center;
*/
    /* 20:29*/

}
/*
#car div:nth-child(1){background-color: red; };
#car div:nth-child(2){background-color: blue; }
#car div:nth-child(3){background-color: hotpink;  }
#car div:nth-child(4){background-color: orange; }

#car div:nth-child(1) {
    transform: rotateY(0deg) translateY(300px)
    translateX(100px)
}
#car div:nth-child(2){
    transform: rotateY(90deg) translateY(600px)
*/
/*
        translateZ(188px)
        translateX(250px)
*/
}
/*
#car div:nth-child(3){
    transform: rotateY(180 deg) translateY(900px) translateX(200px)
*/
/*
        translateZ(188px) 
        translateX(-250px)
*/
/*
}
#car div:nth-child(4){
    transform: rotateY(270deg) translateX(400px)
*/
/*
        translateZ(188px) 
        translateY(-200px)
*/
}
/*
#options{
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
}
navi{
    background-color: aqua;
    width: 250px;
    margin: auto;
}
button{
    margin: 20px;
    width: 70px;
    font-size: 12px;
}
    
body{
    animation: 
}
*/

/*
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}
*/

/* DEMO-SPECIFIC STYLES */
/*
.typewriter h1 {
  color: black;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
*/
/* The typing effect */
/*
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* The typewriter cursor effect */

/*
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

















/*

#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover, #drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
          box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
}

/*
#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}
*/

/*
#music-container {
  position: absolute;
  top: 0;
  left: 0;
}
*/


/*
@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

*/























